@mixin counter
  display: flex
  width: 23px
  height: 23px
  background: $brand-primary
  justify-content: center
  align-items: center
  font-size: 10px
  margin-left: 10px
  position: relative
  font-weight: 700

  &:after
    content: ""
    display: block
    width: 10px
    height: 6px
    top: -7px
    left: 50%
    margin-left: -5px
    position: absolute
    border: 2px solid $brand-primary
    border-top-left-radius: 50px
    border-top-right-radius: 50px
    border-bottom: 0

.cart
  display: flex
  flex-direction: row
  align-items: center

  &__title
    &:after
      content: "/"
      margin: 0 0.35rem

  &__amount
    color: $gray
    cursor: pointer

    &:hover,
    &:focus
      text-decoration: none

  &__content
    display: flex
    visibility: hidden
    opacity: 0
    transition: opacity .1s ease-in-out
    position: absolute
    right: 0
    width: 300px
    background: #fff
    border: 1px solid #ebebeb
    box-shadow: 0 2px 4px rgba(0, 0, 0, .05)
    z-index: 10
    padding: 30px
    flex-direction: column

  &__counter
    @include counter

  &__icon
    display: flex
    align-self: stretch
    align-items: center
    justify-content: center
    flex: 1

    &,
    &:hover,
    &:focus
      text-decoration: none
      color: #fff

  &__dropdown
    order: 1
    margin-left: auto
    position: relative

  &__dropdown:hover &__content
    visibility: visible
    opacity: 1

  &__total
    display: flex
    font-size: 14px
    flex-direction: row
    margin-top: 10px
    font-weight: 700
    color: $gray

    &__amount
      margin-left: auto

  &__actions
    display: flex
    flex-direction: column
    margin-top: 20px

  &__view-cart,
  &__checkout
    display: flex
    height: 40px
    transition: all .3s ease-in-out
    font-size: 11px
    letter-spacing: .1em

  &__view-cart
    background: #424242
    color: #fff

    &:hover,
    &:focus
      background: #303030
      color: #fff
      text-decoration: none

  &__view-cart + &__checkout
    margin-top: 10px

  &__checkout
    @extend .btn-primary

  &__item
    display: flex
    border-bottom: 1px solid #f2f2f2
    padding-bottom: 15px

    & + &
      margin-top: 15px

    &__img
      width: 64px
      flex: 1 0 64px
      user-select: none

      img
        display: block
        max-width: 100%
        height: auto

    &__title
      margin: 0 15px

    &__link
      color: $gray
      font-size: 14px
      line-height: 1.5

      &:hover,
      &:focus
        color: #000
        text-decoration: none

    &__remove
      flex: 1 0 20px
      display: inline-block
      width: 20px
      height: 20px
      background: $gray-lightest
      color: $body-color
      text-align: center
      cursor: pointer

      &:hover
        background: $brand-primary
        color: #fff
