.heading
  // TODO: figure out a more consistent way to do this across the app
  &__wrapper > .container
    display: flex

  &__wrapper
    display: flex
    align-items: center
    min-height: 120px

  &__search-bar
    flex: 0 1 auto

  &__logo
    flex: 1 1 auto
    align-self: center
    text-align: center

  &__cart
    flex: 0 1 auto

  @include media-breakpoint-down(md)
    &__logo
      order: 1
      flex: 0 0 auto
      margin-right: auto

    &__mobile-cart
      order: 2

    &__mobile-menu-toggle
      order: 3
