.hero
  position: relative

  &__image
    display: block

  &__content
    //

  &__title
    position: absolute
    bottom: 15px
    left: 0
    margin: 25px 0
    color: #fff
    font-size: 22px
    background: $brand-primary
    padding: 15px 35px 15px 70px
    font-weight: 700
    letter-spacing: -0.5px
    text-transform: uppercase
