.image-gallery
  &__cell
    width: 100%
    height: auto

  &__image
    width: 100%
    height: auto
    display: block

  &__title
    font-size: 30px
    text-transform: uppercase
    letter-spacing: .1em
    margin-bottom: 5px

  &__thumbs
    margin-top: 10px

  &__thumb
    width: calc(#{(100/$products-visible-product-in-list)}% - 10px)
    margin: 0 5px

  &__thumb-image
    width: 100%
    height: auto
    display: block
