.megamenu
  left: 0
  right: 0
  padding: 0 !important

  &__wrapper
    display: flex
    flex-wrap: wrap
    overflow-y: auto
    max-height: 50vh

    @include media-breakpoint-up(md)
      padding: 20px 0

  &__title-link
    color: $gray
    font-weight: 400
    line-height: 1.2
    display: block
    padding: 15px 25px

    @include media-breakpoint-up(md)
      font-size: 16px

    @include media-breakpoint-down(md)
      // I'd like a more elegant way to match the font-size from page-item__link
      font-size: 14px
      color: $body-color
      border-bottom: 1px solid #ebebeb

    &:hover,
    &:focus
      color: #000
      text-decoration: none

  &__item
    flex: 0 1 auto
    width: 20%

    @include media-breakpoint-down(md)
      width: 100%

  &__list
    list-style: none
    padding: 0
    margin: 0

  &__list-link
    padding: 9px 0
    display: inline-block
    color: $body-color

    &:hover,
    &:focus
      color: $gray
      text-decoration: none
