.order-list
  display: flex
  flex-direction: column
  margin-top: 1rem

  @include media-breakpoint-up(md)
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 0

  &__item
    width: 100%
    border: 2px solid #ebebeb
    padding: 30px 20px
    margin-bottom: 2rem

    @include media-breakpoint-up(md)
      width: calc(50% - 1rem)
      margin-left: 1rem

    @include media-breakpoint-up(lg)
      width: calc(33% - 1rem)
      margin-left: 1rem

    h2
      font-size: 18px

    &__label
      font-size: 14px

