.pagination
  display: flex

  &__count
    flex: 0 1 auto
    margin-right: auto

  &__pager
    flex: 0 1 auto
    display: flex

  &__page
    flex: 0 0 auto
    background-color: #fff
    font-size: 15px
    width: 32px
    height: 32px
    line-height: 30px
    text-align: center
    border: 1px solid #ebebeb
    transition: all .3s ease-in-out
    cursor: pointer

    & + &
      margin-left: 2px

    &:hover,
    &:focus,
    &.is-current:hover,
    &.is-current:focus
      background-color: $brand-primary
      border-color: $brand-primary
      color: #fff

    &.is-disabled
      pointer-events: none
      opacity: 0.45

    &.is-current
      background: #f2f2f2
      border-color: #f2f2f2
      color: $gray
