// TODO:
// extract colors
// convert font-sizes to rem
// perhaps extract basic anchor styles

.product-card
  display: flex
  flex-direction: column
  text-align: center
  margin-bottom: 30px

  &__title
    display: flex
    justify-content: center
    color: $title-color
    font-size: 15px
    line-height: 15px
    font-weight: 700

    &:hover,
    &:focus
      color: $brand-primary
      text-decoration: none

  &__body
    position: relative
    overflow: hidden

  &__details
    margin-top: 24px
    display: block

    &:hover,
    &:focus
      text-decoration: none

  &__images
    position: relative
    overflow: hidden
    display: block

  &__image-front
    position: relative
    z-index: 1

  &__image-front,
  &__image-back
    max-width: 100%
    display: block
    width: 100%

  &__body--with-back &__image-front
  &__body--with-back &__image-back
    transition: opacity .3s ease-in-out
    opacity: 1

  &__body--with-back:hover &__image-front
    opacity: 0

  &__image-back
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

  &__sold-out
    position: absolute
    top: 50%
    transform: translateY(-50%)
    background: rgba(255, 255, 255, 0.9)
    color: $gray
    pointer-events: none
    padding: 15px 0
    display: flex
    justify-content: center
    width: 100%
    z-index: 5
    text-transform: uppercase
    font-weight: bold
    cursor: default
    font-size: 11px
    letter-spacing: 0.05em

  &__sale
    position: absolute
    z-index: 2
    top: 10px
    right: 10px
    background-color: $brand-primary
    color: #fff
    text-transform: uppercase
    padding: 5px 8px
    letter-spacing: 0.05em
    pointer-events: none

  &__price
    font-size: 16px

    &--old
      font-weight: 400
      font-size: 95%
      margin-right: 10px
      color: $body-color

    &--current
      text-decoration: none
      font-weight: 700
      color: $gray

  &__actions
    opacity: 0
    position: absolute
    top: 10px
    left: 10px
    z-index: 1
    display: flex
    margin: 0 -2px
    transition: opacity .3s ease-in-out

  &__body:hover &__actions
    opacity: 1

  &__add-to-compare,
  &__add-to-wishlist
    color: $gray
    width: 32px
    height: 32px
    display: flex
    justify-content: center
    align-items: center
    margin: 0 2px
    background: #fff
    transition: all 0.3s ease-in-out

    &:hover,
    &:focus
      background: $brand-primary
      color: #fff
      text-decoration: none

  &__quickview
    position: absolute
    bottom: -26px
    left: 0
    right: 0
    width: 100%
    text-decoration: none
    background-color: #17171e
    font-size: 10px
    text-transform: uppercase
    letter-spacing: 0.14em
    text-align: center
    line-height: 26px
    color: #fff
    transition: all 0.3s ease-in-out

    &:hover,
    &:focus
      background: $brand-primary
      color: #fff
      text-decoration: none

  &:hover &__quickview
    bottom: 0
