.product-overview
  $block: &

  &__title
    color: $gray
    font-size: 30px
    text-transform: uppercase
    letter-spacing: .1em
    margin-bottom: 30px

  &__variant
    margin-bottom: 30px

  &__price--old
    font-size: 20px
    margin-right: .5em
    color: lighten($gray-light, 25%)

  &__price
    font-size: 25px
    color: $gray

  &__price--current
    text-decoration: none

  &__description
    margin: 25px 0
    font-size: 15px

  &__actions
    list-style: none
    margin: 0 0 30px
    padding: 0
    display: flex
    justify-content: flex-start

  &__action
    flex: 0 0 auto

    & + &
      margin-left: 1em

  &__wishlist
    width: $btn-lg-size
    height: $btn-lg-size
    display: flex
    justify-content: center
    align-items: center

  // TODO: extract? as reused inside page cart
  &__quantity
    display: flex

    #{$block}__action + &
      margin-left: auto

  &__quantity-input
    width: $btn-lg-size
    height: $btn-lg-size
    text-align: center

    &:hover,
    &:active
      z-index: 2

  &__quantity-plus,
  &__quantity-minus
    display: flex
    width: $btn-lg-size
    height: $btn-lg-size
    justify-content: center
    align-items: center
    font-size: 22px

    &:hover,
    &:active
      z-index: 2

  &__quantity-minus
    margin-right: -1px

  &__quantity-plus
    margin-left: -1px

  &__meta-title
    line-height: 28px
    color: $gray

    &:after
      content: ':'

  &__meta-value
    color: $body-color

  &__meta-category &__meta-value
    &:hover,
    &:focus
      color: $brand-primary
      text-decoration: none

  &__meta-tag
    & + &
      &:before
        content: ', '

  &__meta-tag-link
    color: $body-color

    &:hover,
    &:focus
      color: $brand-primary
      text-decoration: none

  .social-icons
    margin-top: 20px

  .social-icons__item
    background: $gray-lightest
    color: #bfbfbf
    width: 32px
    height: 32px
    transition: all .3s ease-in-out
    border-radius: 50%

    &:hover,
    &:focus
      background: $gray
      color: #fff
      text-decoration: none
