.product-list
  $initial-height: 260
  min-height: #{$initial-height}px
  display: flex
  flex-direction: column
  justify-content: center

  &__items
    margin: 0 -5px
    height: #{$initial-height}px

    &:before,
    &:after
      position: absolute
      z-index: 4
      content: ''
      display: block
      top: 0
      bottom: 0
      width: 145px
      pointer-events: none
      transition: opacity 1s
      opacity: 1

    &:before
      left: 0
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%)

    &:after
      right: 0
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 100%)

    &:hover:before,
    &:hover:after
      opacity: 0

    @include media-breakpoint-only(sm)
      height: #{$initial-height*0.8px}

  &__item
    height: #{$initial-height}px
    width: calc(#{(100/$products-visible-product-in-list)}% - 10px)
    margin-left: 5px
    margin-right: 5px

    @if ($products-visible-product-in-list > 1)
      @include media-breakpoint-only(sm)
        width: calc(50% - 10px)

    @include media-breakpoint-down(xs)
      width: calc(100% - 10px)

.flickity-prev-next-button
  z-index: 5

  &,
  &:hover
    background: none
