.product-widget
  margin: 0
  padding: 0
  list-style: none

  & + &
    margin-top: 10px

  &__link
    display: flex

    @include media-breakpoint-down(lg)
      flex-direction: column

  &__link:hover,
  &__link:focus
    text-decoration: none

  &__link:hover &__name,
  &__link:focus &__name
    color: $brand-primary

  &__link:hover &__price,
  &__link:focus &__price
    color: darken($gray, 20%)

  &__image-wrapper
    flex: 1 0 auto
    width: 100px
    margin-right: 10px

    @include media-breakpoint-down(lg)
      width: 100%
      margin-right: 0

  &__image
    width: 100%

  &__name
    color: $body-color
    font-size: 13px
    line-height: 15px

    @include media-breakpoint-down(lg)
      margin: 10px 0 0
      display: block

  &__price
    color: $gray

    & ins
      text-decoration: none
