// TODO:
// extract colors
// convert font-sizes to rem
// perhaps extract basic anchor styles

.service-bar
  background: $footer-background
  color: #a3a3a3
  @include media-breakpoint-down(sm)
    display: none

  &__wrapper
    display: flex

  &__links
    flex: 1 1 auto
    line-height: 45px
    font-size: 13px
    display: flex
    margin: 0
    padding: 0

  &__link-item
    list-style: none

    & + &:before
      content: '\2022'
      margin-left: 10px
      margin-right: 10px

  &__link
    color: #a3a3a3

    &:hover,
    &:focus
      color: $gray
      text-decoration: none

  &__social
    flex: 0 1 auto
    line-height: 45px
    font-size: 13px
    align-items: center
    display: flex

  & .social-icons__item
    color: #a3a3a3

    &:hover,
    &:focus
      color: $gray
      text-decoration: none
