.social-icons
  display: flex
  flex-direction: row

  &__item
    display: flex
    align-content: center
    align-items: center
    justify-content: center
    width: 26px
    color: #bfbfbf
    font-size: 13px
    transition: all .3s ease-in-out
    backface-visibility: hidden // needed?

    & + &
      margin-left: 3px
