.tabs
  $block: &

  &__nav
    margin: 0
    padding: 0
    list-style: none
    border-bottom: 1px solid #ebebeb
    margin-bottom: -1px
    display: flex

  &__nav-item
    &.is-active #{$block}__nav-link
      color: $gray
      border-bottom: 2px solid $brand-primary

  &__nav-link
    cursor: pointer
    padding: 14px 20px 13px
    display: block
    color: $body-color
    font-size: 14px
    text-transform: uppercase
    letter-spacing: .1em

  &__content
    padding-top: 24px
