.page--catalog

  @include media-breakpoint-down(sm)
    padding-top: 0

    .catalog-filters
      display: flex
      flex-direction: column

    .catalog-filters__categories
      flex-direction: row
      order: 1
    .catalog-filters__filter-by-price
      order: 3
    .catalog-filters__tags
      order: 2

    .widget__list
      justify-content: flex-start

    .widget__list-item
      flex: 0 1 auto
      text-align: center
      text-transform: uppercase
      letter-spacing: .1em
      padding: 8px 11px
      line-height: 1
      margin: 0 3px 3px 0
      font-size: 13px
      color: #979797
      background: #f7f7f9
      transition: all .3s ease-in-out
      cursor: pointer
