.page--checkout
  padding-top: 0

.page-checkout
  &__review-order-table
    td
      text-align: right

  &__review-order-item
    &:first-child th,
    &:first-child td
      border-top: none

  &__review-order-item,
  &__review-order-subtotal,
  &__review-order-shipping,
  &__review-order-total
    & th
      padding-left: 0

    & td
      padding-right: 0

  &__payment-methods
    margin: 0
    padding: 0

    & label
      padding: 0

  &__payment-label
    font-weight: 700

  &__payment-extra
    margin-left: 23px
    margin-top: 4px

  &__payment-input-wrapper
    display: flex
    align-items: center

    & input
      margin-right: 10px
